@import url(fontawesome.min.css);
@import url(header.css);

/*color palette*/

/*
dark text: 070c02
light text: 002930
light blue: 93b7be
background white: f9fdff
accent orange: ff4a1c
 */

body {
	background-color: #f9fdff;
	font-family: Helvetica, sans-serif;
	color: #002930;
}

h2, h3 {
	font-size: 1.2em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 75%;
	margin: auto;
}

@media screen and (max-width: 480px) {

	.wrapper {
		width: 90%
	}

}

.project:not(:last-child) {
	border-bottom: 3px solid #93b7be;
}

.biography{
	font-weight: 400;
}

a {
	margin: 0;
	padding: 0;
	color: inherit;
	text-decoration: none;
	font-weight: 800;
}

a:hover {
	color: #f9fdff;
	background-color: #ff4a1c;
}

.foot-links {
	text-decoration: none;
	color: #070c02;
	font-size: 2em;
	padding: 0 1em;
}

 .project-gif {
	width: 100%;
	max-width: 40rem;
}