@import url(fontawesome.min.css);
@import url(header.css);
/*@import url(brands.min.css);*/

/*.wip {display: none;}*/

body {
	background-color: #f5ff93b3;
	font-family: Helvetica, sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main-content {
	width: 90%;
	margin: auto;
}

.biography{
	font-size: 1.1em;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: 800;
}

a:hover {
	color: #f5ff93b3;
	background-color: #ff4e4ee6;
}

.foot-links {
	text-decoration: none;
	color: #000000;
	font-size: 2em;
	padding: 0 1em;
}